<% url = local_assigns[:url] %>
<% disabled = local_assigns[:disabled] %>

<div class="flex align-start gap txt-align-center">
  <div class="flex flex-column flex-1">
    <%= form_with model: model, url: url, data: { controller: "form" } do |form| %>
      <%= render "entropy/knob",
            form: form,
            name: :auto_postpone_period_in_days,
            current_value: model.auto_postpone_period_in_days,
            knob_options: Entropy::AUTO_POSTPONE_PERIODS_IN_DAYS,
            label: "Days until auto-close",
            disabled: disabled  %>
    <% end %>
  </div>
</div>
