<ol class="steps txt-small margin-block">
  <% card.steps.each do |step| %>
    <li class="step">
      <%= check_box_tag :completed, { class: "checkbox", disabled: true, checked: step.completed? } %>
      <%= tag.span step.content, class: "step__content" %>
    </li>
  <% end %>
</ol>
