<% cache [ day_timeline.events, Time.zone.name ] do %>
  <%# Template Dependency Updated: _layout.html.erb 2026-01-26 %>
  <% if day_timeline.has_activity? %>
    <div class="events__columns">
      <%= render "events/day_timeline/column", column: day_timeline.added_column %>
      <%= render "events/day_timeline/column", column: day_timeline.updated_column %>
      <%= render "events/day_timeline/column", column: day_timeline.closed_column %>
    </div>
  <% end %>
<% end %>
