<%= turbo_frame_tag step do %>
  <li class="step">
    <%= form_with model: [step.card, step], data: { controller: "form" } do |form| %>
      <%= form.check_box :completed, { class: "checkbox", data: { action: "change->form#submit" } } %>
    <% end %>
    <%= link_to step.content, edit_card_step_path(step.card, step), class: "step__content" %>
  </li>
<% end %>
