SECRET_KEY_BASE=

BASE_URL=https://fizzy.example.com
ASSUME_SSL=true
FORCE_SSL=true
MULTI_TENANT=true
SOLID_QUEUE_IN_PUMA=true
RAILS_LOG_LEVEL=info

MAILER_FROM_ADDRESS=Fizzy <support@updates.example.com>
SMTP_ADDRESS=smtp.resend.com
SMTP_PORT=465
SMTP_TLS=true
SMTP_USERNAME=resend
SMTP_PASSWORD=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
