@layer native {
  [data-platform~=native] {
    --footer-height: 0;

    -webkit-tap-highlight-color: transparent;

    .hide-on-native {
      display: none;
    }

    /* Layout
    /* ------------------------------------------------------------------------ */

    &:not(.contained-scrolling) {
      #main {
        padding-block-end: var(--custom-safe-inset-bottom);
      }
    }

    /* Header
    /* ------------------------------------------------------------------------ */

    .header {
      padding-block-start: var(--custom-safe-inset-top);
    }

    .header--mobile-actions-stack {
      .header__title {
        margin-block-start: 0;
      }
    }

    .header:is(
      :not(:has(.header__title, .header__actions)),
      :not(:has(.header__title, .header__actions--end)):has(.header__actions--start .btn--back:only-child)
    ) {
      block-size: var(--custom-safe-inset-top);
      padding: unset;

      * {
        display: none;
      }
    }

    .header__actions {
      .btn--back {
        display: none;
      }
    }

    /* Card columns
    /* ------------------------------------------------------------------------ */

    .board-tools.card {
      padding-block-start: 0;
    }

    /* Card perma
    /* ------------------------------------------------------------------------ */

    .card-perma {
      margin-block-start: var(--block-space-half);

      &:not(:has(.card-perma__notch-new-card-buttons)) .card-perma__bg {
        padding-block-end: clamp(0.25rem, 2vw, var(--padding-block));
      }

      .card {
        box-shadow: unset;
      }

      .card:not(.golden-effect) {
        background: linear-gradient(to bottom, var(--color-canvas), var(--card-bg-color));
      }

      .card__board {
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
      }
    }

    .card-perma__bg {
      padding-inline: 0;
      padding-block-start: 0;
      background-color: unset;
    }

    .card-perma__closure-message {
      margin-block: var(--block-space);
      translate: unset;
    }

    .card-perma--draft {
      .card {
        box-shadow: 0 101vh 0 100vh var(--card-bg-color);
      }

      .card-perma__notch--bottom {
        z-index: 1;
      }
    }

    /* Search
    /* ------------------------------------------------------------------------ */

    .search {
      overscroll-behavior: auto;
    }

    .search__title {
      text-decoration: none;
    }
  }
}

[data-bridge-components~=form] {
  [data-controller~=bridge--form] {
    [data-bridge--form-target~=submit] {
      display: none;
    }
  }
}

[data-bridge-components~=overflow-menu] {
  [data-controller~=bridge--overflow-menu] {
    [data-bridge--overflow-menu-target~=item] {
      display: none;
    }
  }
}

[data-bridge-components~=buttons] {
  [data-bridge--buttons-target~=button] {
    display: none;
  }
}

[data-bridge-components~=stamp] {
  [data-controller~=bridge--stamp] {
    display: none;
  }
}
